<mat-card class="card-login" >
<mat-card-title fxLayoutAlign="center">
        Log In
    </mat-card-title>
    
    <mat-card-content class="content">
        
        <div fxLayout="column" class="input" >
            <mat-form-field>
                <input matInput >
                       <mat-hint>User</mat-hint>                
            </mat-form-field>
            <mat-form-field>
                <input matInput >
                       <mat-hint>Password</mat-hint>                
            </mat-form-field>
        
            <div class="buttons" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
                <button mat-raised-button color="primary" >Log In</button>
                <button mat-raised-button color="basic" >Create Account</button>
            </div>
        </div>
        
    </mat-card-content>
    
    
 
 </mat-card>